!!! Strict
%html(xmlns="http://www.w3.org/1999/xhtml")
  %head{ :profile => "http://gmpg.org/xfn/1" }
    - if @title
      %title #{@title} – #{APP_CONFIG['meta']['title']}
    - else
      %title Mobile – #{APP_CONFIG['meta']['title']}
    %link{ :href => "/favicon.ico", :rel => "icon", :type => "image/vnd.microsoft.icon" }
    %meta{ :content => 'text/html; charset=UTF-8', "http-equiv" => "Content-Type" }
    %meta{ :name => 'viewport', :content => 'width = device-width' }
    = stylesheet_link_tag 'mobile'
    /[if IE]
      = javascript_include_tag "svg", :"data-path" => "/javascripts/"
      %meta{ :content => "true", :name => "svg.render.forceflash"}
      = stylesheet_link_tag 'ie'
    /[if lt IE 8]
      = stylesheet_link_tag 'ie7'
    /[if lt IE 7]
      = stylesheet_link_tag 'ie6'
  %body
    .init_title
      - if @option
        %h2.locality #{@option.domain} #{@option.reference}
        %h1.initiative_name #{@option.name}
      - else
        %h1 #{APP_CONFIG['meta']['title']}

    - if user_signed_in?
      %p Hello, #{current_user.name}!

    = yield

    %div{ :id => 'footer' }
      - if user_signed_in?
        = "Logged in as #{current_user.name}."
        = link_to "Logout", ""
      - else
        = "You are not logged in."
        = link_to "Login", ""

    :javascript
      $j(document).ready(function(){
        ConsiderIt.init();     
      });
