%p Enter your email address below to have your confirmation instructions resent.
%p Be sure to check your junk mail folder if you still don't receive the instructions.

= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name)) do |f|
  = f.label :email
  = f.email_field :email

  %div.submit_footer
    = f.submit "Resend instructions"

  %div
    %button.cancel Cancel
%p
  = link_to "Forgot your password?", new_mobile_password_path
