- @option_name = APP_CONFIG['decisions']['name']['full']

- if user_signed_in?
  %p Hello, #{current_user.name}!
- else
  %ul.headered_list
    - APP_CONFIG['home']['values'].each do |value|
      %li
        %h2 #{value['lead']}
        %p #{value['follow']}
%p
  - if user_signed_in?
    = "Choose "
  - else
    = "To get started, choose "
  - if %w(a e i o u).include?(@option_name.downcase[0])
    = "an"
  - else
    = "a"
  = "#{@option_name} below:"
%ul.initiative_list
  - @even = true
  - get_initiatives.uniq.each do |option|
    - @even = !@even
    %li{:class => ((@even) ? "even" : "")}
      = link_to "#{option.domain_short}: #{option.reference} - #{option.short_name}", has_stance(option) ? mobile_option_points_path(:option_id => option.id) : show_mobile_option_path(:option_id => option.id)

= render :partial => 'mobile/partials/zip_code_select'
