%p Choose a ballot measure:
%ul.initiative_list
  - @even = true
  - get_initiatives.each do |option|
    - @even = !@even
    - if (@even)
      %li.even
        = link_to "#{option.domain_short}: #{option.reference} - #{option.short_name}", show_mobile_option_path(:option_id => option.id)
    - else
      %li
        = link_to "#{option.domain_short}: #{option.reference} - #{option.short_name}", show_mobile_option_path(:option_id => option.id)

%p Or enter your zip code to unlock your local measures:
%div
  %input#domain.has_example{:type => "text", :title => "your zip code"}
  %input{:type => "submit", :value => "set"}
