- @option_name = APP_CONFIG['decisions']['name']['full']
%p
  = "Choose "
  - if %w(a e i o u).include?(@option_name.downcase[0])
    = "an"
  - else
    = "a"
  = "#{@option_name} below:"
%ul.initiative_list
  - @even = true
  - get_initiatives.uniq.each do |option|
    - @even = !@even
    %li{:class => ((@even) ? "even" : "")}
      = link_to "#{option.domain_short}: #{option.reference} - #{option.short_name}", has_stance(option) ? mobile_option_points_path(:option_id => option.id) : show_mobile_option_path(:option_id => option.id)

- if @domain
  - if (cnt = @domain.domain_maps.count) == 0
    %p According to our records, the #{@domain.name} area does not have any local #{@option_name.pluralize}. 
  - else
    %p In the list above, you can now access #{cnt} #{@domain.name} area #{@option_name.pluralize}.
  .reset
    Is #{@domain.identifier} not your zip code? 
    = form_tag '/home/domain', :id => 'domain' do
      = text_field_tag "domain", '', :title => 'your zip code', :class => 'has_example'
      = submit_tag 'change', :class => 'gray'
                
- else
  %p Or enter your zip code to unlock your local #{@option_name.pluralize}:
  = form_tag '/home/domain', :id => 'domain' do
    = text_field_tag "domain", '', :title => 'your zip code', :class => 'has_example'
    = submit_tag 'set', :class => 'gray'

