= form_for :navigate, :url => mobile_navigate_list_points_path do |f|
  %ul.link_list.cross_nav
    %li
      = link_to "Add an existing " + @type, add_mobile_option_point_path(:option_id => @option.id, :type => @type)
    %li
      = link_to "Write a new " + @type, new_mobile_option_point_path(:option_id => @option.id, :type => @type)
    %li
      - opposite_type = @type == "pro" ? "con" : "pro"
      = link_to "See my " + opposite_type.pluralize, mobile_option_list_points_path(:option_id => @option.id, :type => opposite_type)
  - if @included_points.any?
    = render :partial => "mobile/partials/point_list", :locals => { :points => @included_points, :included_points => @included_points, :form => f }
  - else
    %strong You currently have no included #{@type.pluralize}
  = render :partial => "mobile/partials/nav", :locals => { :prev_path => mobile_option_points_path }

