%p Enter your email address below to receive instructions for resetting your password.

= form_for(resource, :as => resource_name, :url => password_path(resource_name)) do |f|
  = f.label :email
  = f.email_field :email

  %div
    = f.submit "Send instructions"
  .login_back_link
    = link_to("Return to login", mobile_user_path)
