%p Your current position: #{Position.stance_name_map(@position.stance_bucket).capitalize}
= form_for :navigate, :url => mobile_navigate_points_path do |f|
  = f.submit "Update Position", :name => "button[update_position]"
  %p Construct a list of the most important factors in your decision. Start by browsing points other members have added, or write a new point that nobody has added yet.
  #pro_con_nav
    %h2 My Pros (#{@included_pros.count})
    %ul.link_list
      %li
        = f.submit "See my pros", :name => "button[my_pros]"
      %li
        = f.submit "Add an existing pro", :name => "button[add_pros]"
      %li
        = f.submit "Write a new pro", :name => "button[new_pro]"
    %h2 My Cons (#{@included_cons.count})
    %ul.link_list
      %li
        = f.submit "See my cons", :name => "button[my_cons]"
      %li
        = f.submit "Add an existing con", :name => "button[add_cons]"
      %li
        = f.submit "Write a new con", :name => "button[new_con]"
  = render :partial => "mobile/partials/nav", :locals => { :id => "nav_bottom", :navigation => @navigation, :include_header => true, :form => f }

