%ul.link_list.cross_nav
  - if @point_type == 'pro'
    %li
      = link_to "See my pros", mobile_option_list_points_path(:type => :pro)
    %li
      = link_to "See cons for #{@stance_name}", mobile_option_segment_list_path(:point_type => :con)
  - else
    %li
      = link_to "See my cons", mobile_option_list_points_path(:type => :con)
    %li 
      = link_to "See pros for #{@stance_name}", mobile_option_segment_list_path(:point_type => :pro)
- if @points.any?
  = render :partial => "mobile/partials/point_list", :locals => { :points => @points, :included_points => @included_points, :form => f }
- else
  %strong No #{@point_type.pluralize} listed by #{@stance_name}
= render :partial => "mobile/partials/nav", :locals => { :prev_path => mobile_option_segment_path }

