%p.fineprint
  = "Don't have an account?"
  = link_to "Sign up", new_mobile_user_path
%div#third_party.login_method
  %h3 If you used your account from:
  %ul
  - ['facebook', 'twitter', 'google', 'yahoo'].each do |provider|
    %li
      %a{ :onclick => "javascript:login('#{new_user_session_path(:third_party=>true, :provider=>"#{provider}")}',500, 500)" }
        = image_tag("#{provider}.png")

%div#lvg_account.login_method
  %h3 Or, if you created an account with us:

  %p
    = form_for(resource, :as => resource_name, :url => user_session_path) do |f|
      %ul
        %li.email_field
          = f.label :email
          = f.text_field :email
        %li.password_field
          = f.label :password
          = f.password_field :password
      
      %div.submit_footer
        = f.submit "Log in"
 
    %div
      %button.cancel Cancel
  %p
    = link_to "Forgot your password?", new_mobile_password_path
