%p.fineprint
  = "Don't have an account?"
  = link_to "Sign up", new_mobile_user_path
%div#third_party.login_method
  %p.login_title Log in with your account from:
  %ul
    %li
      = link_to image_tag("/images/facebook.png", {:alt => "Facebook"}), "facebook_path"
    %li
      = link_to image_tag("/images/twitter.png", {:alt => "Twitter"}), "twitter_path"
    %li
      = link_to image_tag("/images/google.png", {:alt => "Google"}), "google_path"
    %li
      = link_to image_tag("/images/yahoo.png", {:alt => "Yahoo"}), "yahoo_path"

%div#lvg_account.login_method
  %p.login_title Or, if you created an account with us:

  %p
    = form_for(resource, :as => resource_name, :url => user_session_path) do |f|
      %ul
        %li.email_field
          = f.label :email
          = f.text_field :email
        %li.password_field
          = f.label :password
          = f.password_field :password
      
      %div.submit_footer
        = f.submit "Log in"
 
    %div
      %button.cancel Cancel
  %p
    = link_to "Forgot your password?", new_mobile_password_path
