= form_for :navigate, :url => mobile_navigate_add_remove_point_path do |f|
  - if included_points.include?(point)
    - is_point_creator = (session[:mobile][@option.id][:written_points].include?(point.id)) || (current_user && point.user_id == current_user.id)

    - if is_point_creator
      = f.submit "Delete Point", :name => "button[delete_point][#{point.id}]", :class => "delete_point point_button"
    - else
      = f.submit "Remove Point", :name => "button[remove_point][#{point.id}]", :class => "remove_point point_button"
  - else
    = f.submit "Add Point", :name => "button[add_point][#{point.id}]", :class => "point_button"

