-if (!defined? id)
  - id = "nav_bottom"
%div.nav{ :id => id }
  - if ((!defined? skip_header) || !skip_header)
    %h2 Navigation
  %ul.link_list
    - if (defined? show_back) && show_back
      %li
        = link_to("Back", "", {:class => "back"})

    -# if next_path is defined AND is not nil (the latter can happen from
    -# option description page)
    - if (defined? next_path) && next_path
      %li
        - if !(defined? next_title)
          - next_title = get_page_name(next_path)
        = link_to("Next: " + next_title, next_path)

    - if (defined? prev_path) && prev_path
      %li
        = link_to("Previous: " + get_page_name(prev_path), prev_path)

    - if (!defined? skip_description) || !skip_description
      %li
        - @option_name = APP_CONFIG['decisions']['name']['full']
        = link_to("#{@option.reference} Description", show_mobile_option_path)

    %li
      = link_to("Home", mobile_home_path)
