%div.nav{ :id => id }
  - if include_header
    %h2 Navigation
  %ul.link_list
    - if navigation[:next]
      %li
        = form.submit "Next: " + get_page_name(navigation[:next][:path]), :name => "button[next][#{navigation[:next][:path]}]"
    %li
      = form.submit "Previous: " + get_page_name(navigation[:previous][:path]), :name => "button[previous]"

    - if get_page_name(navigation[:previous][:path]) != "Homepage"
      %li
        = form.submit "Home", :name => "button[home]"

    - if navigation[:show_description]
      %li
        = form.submit "Initiative Description", :name => "button[initiative_description][#{request.request_uri}]"

