%ul.point_list
  - even = false
  - points.each do |point|
    %li{ :class => ("even" if even) }
      .point_text #{point.nutshell} (#{point.comments.count} comments)</div>
      .point_links
        = render :partial => 'mobile/partials/add_remove_button', :locals => { :form => form, :point => point, :included_points => included_points }
        %br
        = form.submit "Details", :name => "button[point_details][#{request.request_uri}][#{point.id}]"
    - even = !even

